// app global css in SCSS form
.my-card {
  border-radius: 10px;
  width: 100%;
  background-color: #fff;
}

.main-bg {
  background-color: #e7ebdc;
}

.my-tab {
  color: #15220d;
  background-color: #fdfef6;
}